[submodule "tools/grub"]
	path = tools/grub
	url = https://git.savannah.gnu.org/grub.git
	ignore = dirty

[submodule "tools/cmocka"]
	path = tools/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
	ignore = dirty

